@font-face {
	font-family: 'roboto';
	src: url('font/Roboto-Medium.ttf') format('truetype'),
		 url('font/Roboto-Italic.ttf') format('truetype'),
		 url('font/Roboto-Regular.ttf') format('truetype'),
		 url('font/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('font/Roboto-Regular.woff') format('woff'); /* Pretty Modern Browsers */
		
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: roboto;
	background: #fff;
	margin: 0;
}


nav {
	background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4));
	height: 10vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 2vh;
}

nav ul li a {
	text-decoration: none;
	color: #f0f0f0;
	font-size: 1.1em;
	
}



/*CONTENT*/


header{
	width: 100%;
	height: 100vh;
}


.bg{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.5)), 
	            url(img/bg.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}


.content {
	margin: 0 auto;
	width: 90%;
	height: 70%;
    position: fixed;
	display: flex; 
	justify-content: space-around;
	align-items: center;

}



.column {
	margin: 10px;
	width: 28%;
	height: 84%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	overflow: hidden;
	opacity: 0.8;
	transition: 0.2s ease;
	
}



.column:hover{
	width: 30%;
	height: 100%;
}


.column:hover img{
	transform: rotate(40deg);
}

.column .picture {
	width: 100%;
	height: 60%;
	background: #2c3e50;
	display: flex; 
	justify-content: center;
	align-items: center;
	color: #333; 
}

.column .picture img {
	
	width: 50%;
	transition: 2.5s ease;
}


.column .title {
	width: 100%;
	height: 10%;
	background: #fff;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.column .text {
	width: 100%;
	height: 30%;
	background: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
}


.column .text p {
	width: 80%;
	height: auto;
	text-align: center;
	overflow: auto;
	
}




/*FOOTER*/


footer {
	background: #fff;
	height: 100vh;
	width: 100%;
	position: relative;
}


.bgf {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)), 
	            url(img/space-rebound.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentf{
/*	background: #fff;*/
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px 10px 0px 0px;
}

.contentf .picture {
/*	background: salmon;*/
	height: 40%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	
}

.contentf .text {
/*	background: tomato;*/
	height: 65%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    align-items: center;
}


form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}


input[type="search"] {
	border-radius: 50px;
	padding: 2vh 3vh 2vh 3vh;
	outline: none; 
	border: none;
	color: #333;
	width: 40%;
	height: 30%;
	font-size: 1.3em;
	opacity: 0.7;
	
}



.titlef {
/*	background: #333;*/
	overflow: hidden;
	height: 30%;
	width: 60%;
	color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.2em;
	padding-top: 25px;
	
}


.paragraghf{
/*	position: absolute;*/
/*	background: #333;*/
	overflow: hidden;
	height: 70%;
	width: 60%;
	color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 1.2em;
	text-align: center;
/*	padding-top: 100px;*/
	
}







