@font-face {
	font-family: 'roboto';
	src: url('font/Roboto-Medium.ttf') format('truetype'),
		 url('font/Roboto-Italic.ttf') format('truetype'),
		 url('font/Roboto-Regular.ttf') format('truetype'),
		 url('font/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('font/Roboto-Regular.woff') format('woff'); /* Pretty Modern Browsers */
		
}

body {
	font-family: roboto;
	background: #fff;
	margin: 0;
}


nav {
	background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4));
	height: 10vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 2vh;
}

nav ul li a {
	text-decoration: none;
	color: #f0f0f0;
	font-size: 1.1em;
	
}



/*CONTENT*/


header{
	width: 100%;
	height: 100vh;
}


.bg{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.5)), 
	            url(img/bg.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}


.content {
	margin: 0 auto;
	width: 90%;
	height: 70%;
    position: fixed;
	display: flex; 
	justify-content: space-around;
	align-items: center;
}



.column {
	margin: 10px;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	overflow: hidden;
	opacity: 0.8;
	
	
}



.column:hover {
	
}



.column .picture {
	width: 100%;
	height: 60%;
	background: #2c3e50;
	display: flex; 
	justify-content: center;
	align-items: center;
	color: #333; 
}

.column .picture img {
	width: 80%;
}


.column .title {
	width: 100%;
	height: 10%;
	background: #fff;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.column .text {
	width: 100%;
	height: 30%;
	background: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
}


.column .text p {
	width: 80%;
	height: auto;
	text-align: center;
	overflow: auto;
	
}




/*FOOTER*/


footer {
	background: #fff;
	height: 100vh;
	width: 100%;
	position: relative;
}


.bgf{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)), 
	            url(img/bg.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}